* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #101010;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navi{
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}
.navbar{
  background-color:rgba(0,235,255,.5)!important;
  padding-left: 30px;
  padding-right: 30px;
}
.container {
  position: relative;
  width: 100%;
  transition: transform 2s ease;
}

.container:hover .front {
  transform: rotateY(-180deg);
  z-index: 0;
}

.container:hover .back {
  transform: rotateY(0deg);
}

.container > div {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  border-radius: 24px;
  text-align: center;
  transition: transform 2s ease;
  justify-content: space-evenly;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
}

.front {
  position: relative;
  padding: 3em 5em;
  z-index: 1;
  background: url("https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?size=626&ext=jpg");
  background-size: cover;
}

.front > *,
.back > * {
  transform: translateZ(100px);
  transition: transform 0.3s ease;
}

.title {
  position: relative;
}

.title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background: #00ff5a;
  transform: translateX(-50%);
}

.description {
  margin-top: 1.5em;
  display: block;
  line-height: 150%;
}

.back {
  top: 0;
  position: absolute;
  padding: 3em;
  transform: rotateY(180deg);
  width: 100%;
  background: #222;
}

.back .title {
  margin-bottom: 8px;
}

.input-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

input,
textarea {
  color: #fff;
  width: 80%;
  border: none;
  padding: 4px 0;
  border-bottom: 1px solid #fff;
  outline: none;
  background: none;
  margin-top: 20px;
  resize: none;
}

label {
  position: absolute;
  font-size: 13px;
  left: 10%;
  top: 24px;
  pointer-events: none;
  transition: all 0.2s;
}

.input-box input:focus,
.input-box textarea:focus {
  border-bottom: 2px solid #00ff5a;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label {
  top: 10px;
  font-size: 10px;
  color: #00ff5a;
}

.send {
  padding: 8px 24px;
  margin-top: 1em;
  border: 2px solid #00ff5a;
  border-radius: 20px;
  background: transparent;
  color: #00ff5a;
  cursor: pointer;
}

.send:focus,
.send:active {
  background: #00ff5a;
  color: #2b2b2b;
  outline: none;
}
